* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  background: #232834;
  color: #fff;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

h1 {
  margin-bottom: 20px;
  color: #FF8B3E;
  
}

h2 {
  margin: 20px 0;
  color: #5CCFE6;
  
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #a8e0eb;
}

.current {
  color: #fff;
  text-shadow: 0 0 5px #5CCFE6, 0 0 10px #5CCFE6, 0 0 20px #5CCFE6, 0 0 40px #5CCFE6;
}

/* Navigation */

header{
  background: #1F2430;
  border-bottom: 1px solid #191E2A;
  padding: 10px 0 15px 0;
  margin-bottom: 20px;  
  width: 100%;
}

nav {
  text-align: right;
  display: flex;
  align-items: center;
}

nav .fas{
  font-size: 30px;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  text-shadow: 0 0 5px #5CCFE6, 0 0 10px #5CCFE6, 0 0 20px #5CCFE6, 0 0 40px #5CCFE6;
}

nav ul {
  list-style-type: none;
  color: #fecea8;
  font-family: "Oswald", sans-serif;
  margin-left: auto;
}

nav li {
  display: inline-block;
  font-size: 25px;
  margin-right: 30px;
}

nav .fa-list{
  display: none;
}

/* On off switcher */

nav .on{
  color: #fff;
  text-shadow: 0 0 5px #5CCFE6, 0 0 10px #5CCFE6, 0 0 20px #5CCFE6, 0 0 40px #5CCFE6;
  transform: rotate(0deg);
}

nav .off{
  color: #5CCFE6;
  text-shadow: none;
  transform: rotate(-360deg);
}

/* Radio blocks */

.radio_block{
  border: 1px solid #191E2A;
  background-color: #1F2430;
  border-radius: 35px;
  margin-top: 30px;
  display: flex;
  padding: 10px;
}

.radio_block:hover{
  background-color:#191E2A ;
}

.radio_block .indicator{
  background-color: #1F2430;
  width: 100px;
  background: #fff;
  border-radius: 15px;
  margin: 10px;
}

.radio_block .indicator_active{
  background-color: #1F2430;
  width: 100px;
  background: #fff;
  box-shadow: 0 0 5px #5CCFE6, 0 0 10px #5CCFE6, 0 0 20px #5CCFE6;
  border-radius: 15px;
  margin: 10px;
}

.radio_block .text{
  font-size: 20px;
  margin-left: 30px;
  
}


/* -----------------------------For form------------------------------- */

.color {
  border: none;
  height: 28px;
  width: 200px;
  background-color: #3f4a4e;

  outline: none;
  overflow: hidden;
  border-radius: 28px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;    
}

input[type="color"]::-webkit-color-swatch {
  border: none;  

}


/* firefox */
input[type=color]::-moz-focus-inner {
  border: none;
  padding: 0;

}

input[type=color]::-moz-color-swatch {
  border: none;
}

.change_block{
  border: 1px solid #191E2A;
  background-color: #1F2430;
  display: inline-blocks;
  padding: 15px 0 10px 15px;
  border-radius: 32px;  
  display: flex;
  align-items: center;
}

.info_block{
  margin-left: 20px;
  font-size: 20px;
}

.hide_menu header{
  min-height: 46px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  font-size: 20px;
}


.hide{
  display: none;
}

@media (max-width: 1400px) {
  nav{
    padding: 0 20px;
  }
  nav .fas{
    margin-right: 20px;
  }
  nav .fas:last-child{
    margin-right: 0px;
  }
}

@media (max-width: 940px){
  .main_menu a{
    display: none;
  }

  nav .fa-list{
    display: inline-block;
  }
}


